*{
    margin-bottom: 0;
}
.header{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background-color: grey;
}
.body{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 30%;
    height: 100%;
}
.top{
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
    background-color: grey;
}
.mid{
    width: 100%;
    height: 20%;
    margin-bottom: 15px;
    background-color: grey;
}
.bottom{
    width: 100%;
    height: 10%;
    background-color: grey;
}
.right{
    width: 69%;
    height: 100%;
}
.row{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.block{
    width: 20%;
    height: 100%;
    background-color: grey;
}
.footer{
    margin-top: 60px;
    width: 69%;
    float: right;
    height: 60px;
    background-color: grey;
}
