*{
    box-sizing: border-box;
    margin-bottom: 0;
}
.header{
    width: 100%;
    height: 150px;
    background-color: grey;
}
.main{
    margin-top: 15px;
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 9%;
    height: 80%;
    background-color: grey;
}
.right{
    width: 9%;
    height: 60%;
}
.top{
    width: 100%;
    height: 40%;
    background-color: grey;
}
.bottom{
    margin-top: 15px;
    width: 100%;
    height: 59%;
    background-color: grey;
}
.middle{
    width: 80%;
    height: 93%;
}
.lader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.small{
    width: 5%;
    height: 100%;
    background-color: grey;
}
.big{
    width: 93%;
    height: 100%;
    background-color: grey;
}
.footer{
    position: absolute;
    bottom: -390px;
    width: 100%;
    height: 50px;
    background-color: grey;
}