*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark .option{
    background-color: #343434;
}
.dark a{
    color: white;
}
.dark i{
    color: white;
}
.dark p{
    color: white;
}
.dark .icon{
    background-color: #5f5f5f;
}
.dark table{
    color: white;
}
.dark table tr{
    border-bottom: 1px solid white;
}
.dark .main .main-bottom{
    background-color: #343434;
}
th{
    padding-left: 10px;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
table{
    width: 100%;
}
tr{   
    height: 100px;
    border-bottom: 1px solid black;
}
.fa-greater-than{
    margin-left: 10px;
}
.all{
    width: 100%;
    height: 770px;
    display: flex;
}
.left{
    width: 12%;
    height: 100%;
}
.option{
    width: 90%;
    height: 98%;
    float: right;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #ffffff54;
    box-shadow: 0px 4px 10px;
    overflow: hidden;
}
.top-option{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 17px;
}
.lader{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
}
.icon{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    padding-top: 4px;
    text-align: center;
    overflow: hidden;
    background-color: #80808023;
}
.icon i{
    font-size: 20px;
}
.text{
    width: 80%;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
}
.text p{
    font-size: 13px;
}
.text:hover p{
    color: coral;
}



/* -----------right------------ */
.right{
    width: 88%;
    height: 98%;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.main{
    width: 100%;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    height: 100%;
    padding-top: 15px;
    display: flex;
}
.header-left a:hover{
    color: coral;
}
.home{
    margin-left: 15px;
}
.header-right{
    width: 160px;
    height: 100%;
    padding-top: 5px;
}
.header-right i{
    margin-left: 65px;
    font-size: 30px;
}
.header-right i:hover{
    cursor: pointer;
}
.pfp{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: right;
    overflow: hidden;
}
.pfp:hover {
    cursor: pointer;
}
.pfp img{
    width: 100%;
    height: 100%;
}

.main-bottom{
    width: 100%;
    height: 560px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px;
    overflow-y: scroll;
}
#theme-selector{
    margin-top: 10px;
}
/* -----------------end right-------------- */
@media screen and (min-width:768px) and (max-width:1324px){
    .right{
        width: 78%;
    }
    .left{
        width: 22%;
    }
}